<h1>LISTA Q CRIA E DESTROI</h1>

<ul>
  <li>
    <p><a routerLink="1" skipLocationChange="true">item 1</a></p>
    <p><a routerLink="2" skipLocationChange="true">item 2</a></p>
    <p><a routerLink="3" skipLocationChange="true">item 3</a></p>
    <p><a routerLink="4" skipLocationChange="true">item 4</a></p>
    <p><a routerLink="5" skipLocationChange="true">item 5</a></p>
    <p><a routerLink="6" skipLocationChange="true">item 6</a></p>
    <p><a routerLink="login">LOGIN</a></p>
  </li>
</ul>
<router-outlet></router-outlet>
